.nav {
  padding-right: 80px;
  margin-top: 30px;
  font-weight: 500;

  padding-left: 0;
  margin-bottom: 0;
  
}
.nav__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  column-gap: 20px;
}

.nav__link {
  display: flex;
  justify-content: space-around;

  margin-bottom: auto;
  text-decoration: none;
  color: #000000;
}
.nav__link:hover {
  color: #2f80ed;
  transition: 0.3s linear;
}
