.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.reservation__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  padding-bottom: 80px;
  border: none;
  margin: 0 auto;
  text-align: center;
}
.reservation__form {
  margin-top: 0;
}
